.banner {
  background-image: url("../../images/markus-spiske-iar-afB0QQw-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 60vh;

  .header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      background-color: $primary;
      border-radius: $border-radius;
      padding: 16px;
      color: white;
    }
  }
}
