.blog-list {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

.blog-card {
  margin-top: 4em;
  display: inline-block;
  position: relative;
  flex: 0 0 auto;
  width: 30%;
  margin-bottom: 30px;
  border-radius: $border-radius;
  color: #777777;
  background: rgb(255, 255, 255);
  box-shadow: $shadow;

  &-image {
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: $border-radius;
    box-shadow: $shadow;

    img {
      width: 100%;
      height: 40vh;
      border-radius: $border-radius;
    }
  }

  &-content {
    padding: 15px 30px;
    margin-bottom: 0px;

    .author {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;

      .avatar {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;

        img {
          width: 100%;
        }
      }
    }
  }
}

.article-card {
  margin-top: 4em;
  display: inline-block;
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  margin-bottom: 30px;
  border-radius: $border-radius;
  color: #777777;
  background: rgb(255, 255, 255);
  box-shadow: $shadow;

  &-image {
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: $border-radius;
    box-shadow: $shadow;

    img {
      width: 100%;
      height: 40vh;
      border-radius: $border-radius;
    }
  }

  &-content {
    padding: 15px 30px;
    margin-bottom: 0px;

    .author {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;

      .avatar {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;

        img {
          width: 100%;
        }
      }
    }
  }
}
