.form-filter {
  position: sticky;
  top: 6rem;

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.is-loading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
    opacity: 0.5;
    z-index: 3;
  }
}
