<div class="row d-flex flex-column">
  <div class="col-md-2 m-2">
    <a href="{{ path('admin.user.edit', { id: user.id }) }}" class="btn btn-warning text-light">Modifier</a>
  </div>
  <div class="col-md-2 m-2">
    {% include 'Backend/User/_delete.html.twig' %}
  </div>
</div>
